{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
     

</form>
<div class="col-md-6 col-md-offset-3"> 

<a href="../avatar/"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Add new author</button></a>

</div>
    <div class="panel panel-default col-md-6 col-md-offset-3">
        <!-- Default panel contents -->

        <div>Последний автор которого вы просматривали: {{user_author}}</div>
        <div class="panel-heading">List of authors:</div>
        <div class="panel-body">
        <p><form action='' method='post'>{% csrf_token %}
        <input type="radio" name="up" value = up> Up<Br>
        <input type="radio" name="up" value = down> Down<Br>
        <input id="id_author" maxlength="40" name="search" type="text" class="form-control" placeholder="Search" /></p>
        </div>

         <!-- List group -->
         {% for o in author_list %}
        <ul class="list-group">
        <li class="list-group-item"><a href="{%url 'get_view' o.pk%}">{{o.pk}}: {{o.first_name}}<br> 
        {{o.last_name}}<br>
        {{o.email}}<br>

        </li>
        </ul>
        {% endfor %}
    
     </form>
    <div id='test_list' >
            
    </div>
    <script >
        $.get("http://127.0.0.1:8000/api/list/", function(rez){
        //$("#test_list").append("<p>Test</p>");
        rez.forEach(function(item){
            $("#test_list").append("<p>"+item.first_name+"</p>");
        });
     });

    </script> 

	</div>
        
{% endblock %}