

{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'avatar' %} enctype="multipart/form-data">
            {% csrf_token %}
     
    <div class="form-group col-md-6 col-md-offset-3">
    	<label for="first_name"> First name:</label>{{form.first_name}}
   

    </div>
    <div class="form-group col-md-6 col-md-offset-3">
		<label for="last_name" >Last name:</label> <!--<textarea id="id_text" name="last_name" rows=1>{{author.last_name}}</textarea>-->
       {{ form.last_name}}
	</div>
	<div class="form-group col-md-6 col-md-offset-3">
		<label for="email">Email:</label> <!--<textarea id="id_text" name="email" rows=1>{{author.email}}</textarea>-->
       {{ form.email}}
    </div>
    <div class="form-group col-md-6 col-md-offset-3">
        <label for="avatar">Avatar:</label> {{ form.avatar}}

    </div>
	<div class="form-group col-md-6 col-md-offset-3">
	<hr>
     	<input type="submit" class='btn btn-primary' value="Save user" />
	</div>
      
    </form>          



     


   

</div>
{% endblock %}