<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

 <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav nav-pills pull-right">
          <li class="active">{% if user.is_authenticated %}
        {{user.username}}
    {% else%}
        <a href='../regist/'>Registration</a>
    {% endif %}</li>
          <li><a href='../logout'>Exit</a></li>
          <li><a href="../login/">LogIn</a></li>
        </ul>
        <nav class="navbar navbar-inverse" role="navigation">
        <h3 class="text-muted">{{user.username}}</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to my site</h1>
         {% block content %}


          {% endblock %}
        
      </div>
    </div>
      

      <div class="footer">
    {% block footer %}
    
    <p><center>Thanks for visiting my site.</center></p>
    {% endblock %}
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>