{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        <a href='../get_list/'>Author</a>
    {% else%}
        Please <a href='../regist/'>Register</a> or <a href='../login/'>Login </a>
    {% endif %}

{% endblock %}